<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="unsAtiaTrigger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--get index and nic name console command:wmic nic get index,name-->
  </appSettings>
  <userSettings>
    <unsAtiaTrigger.Properties.Settings>
      <setting name="ReceiveAtiaMsgIp" serializeAs="String">
        <value>10.53.1.114</value>
      </setting>
      <setting name="BlockAtiaMsgIp" serializeAs="String">
        <value>10.53.1.xxx</value>
      </setting>
      <setting name="ATIA_NIC_NAME" serializeAs="String">
        <value>[00000007] Realtek PCIe GBE Family Controller</value>
      </setting>
      <setting name="RemoteIpAddress" serializeAs="String">
        <value>10.6.3.103</value>
      </setting>
      <setting name="RemotePort" serializeAs="String">
        <value>5555</value>
      </setting>
      <setting name="AtiaServiceName" serializeAs="String">
        <value>Atia</value>
      </setting>
      <setting name="AtiaProcessPath" serializeAs="String">
        <value>d:\cgaWork\Atia</value>
      </setting>
      <setting name="UnsServiceName" serializeAs="String">
        <value>Uns</value>
      </setting>
      <setting name="UnsProcessPath" serializeAs="String">
        <value>d:\cgaWork\Uns</value>
      </setting>
      <setting name="AtiaUnsServiceOrProcess" serializeAs="String">
        <value>Process</value>
      </setting>
      <setting name="AtiaProcessName" serializeAs="String">
        <value>Atia.exe</value>
      </setting>
      <setting name="UnsProcessName" serializeAs="String">
        <value>Uns.exe</value>
      </setting>
      <setting name="UNS_NIC_NAME" serializeAs="String">
        <value>[00000007] Realtek PCIe GBE Family Controller</value>
      </setting>
      <setting name="ReceiveUnsMsgIp" serializeAs="String">
        <value>10.6.3.16</value>
      </setting>
      <setting name="BlockUnsMsgIp" serializeAs="String">
        <value>10.6.3.12</value>
      </setting>
      <setting name="AddAtiaIpAdressAndSubnet" serializeAs="String">
        <value>netsh interface ip add address \"Local Area Connection\" 10.53.1.114  255.255.255.0</value>
      </setting>
      <setting name="RemoveAtiaIpAddress" serializeAs="String">
        <value>netsh interface ip delete address \"Local Area Connection\" 10.53.1.114</value>
      </setting>
    </unsAtiaTrigger.Properties.Settings>
  </userSettings>
</configuration>