<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--get index and nic name console command:wmic nic get index,name-->
    <!--ip address change-->
    <add key="ReceiveMsgIp" value="10.6.3.14"/>
    <add key="BlockMsgIp" value="10.6.3.11"/>
  </appSettings>
</configuration>