<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="unsAtiaTrigger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--get index and nic name console command:wmic nic get index,name-->
  </appSettings>
  <userSettings>
    <unsAtiaTrigger.Properties.Settings>
      <setting name="ReceiveMsgIp" serializeAs="String">
        <value>10.6.3.14</value>
      </setting>
      <setting name="BlockMsgIp" serializeAs="String">
        <value>10.6.3.11</value>
      </setting>
      <setting name="NIC_NAME" serializeAs="String">
        <value>[00000007] Realtek PCIe GBE Family Controller</value>
      </setting>
    </unsAtiaTrigger.Properties.Settings>
  </userSettings>
</configuration>