<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connectString" value="Data Source=10.6.1.101,1433;Network Library=DBMSSOCN;
Initial Catalog=WhatsUp;User ID=WhatsUpGold_D2H6VC02;Password=Qazwsx123"/>
  <!--SQL config-->
    <add key="SQL_SERVER_IP" value="10.6.3.30"/>
    <add key="SQL_SERVER_PORT" value="5432"/>
    <add key="SQL_SERVER_USER_ID" value="postgres"/>
    <add key="SQL_SERVER_PASSWORD" value="wavegis"/>
    <add key="SQL_SERVER_DATABASE" value="dtltms_data"/>
    <!--ActiveMonitorStateChangeLog-->
    <add key="AMSCL_pointer" value="1"/>
    <!--SMS DB-->
    <add key="SMS_SERVER_IP" value="10.6.3.61"/>
    <add key="SMS_SERVER_PORT" value="5432"/>
    <add key="SMS_SERVER_USER_ID" value="postgres"/>
    <add key="SMS_SERVER_PASSWORD" value="Qazwsx123"/>
    <add key="SMS_SERVER_DATABASE" value="cga"/>
    <!--send sms value: 1->not send 0->send-->
    <add key="sendSMS" value="0"/>
  </appSettings>


</configuration>