<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connectString" value="Data Source=10.6.1.101,1433;Network Library=DBMSSOCN;
Initial Catalog=WhatsUp;User ID=WhatsUpGold_D2H6VC02;Password=Qazwsx123"/>
  <!--SQL config-->
    <add key="SQL_SERVER_IP" value="10.6.3.30"/>
    <add key="SQL_SERVER_PORT" value="5432"/>
    <add key="SQL_SERVER_USER_ID" value="postgres"/>
    <add key="SQL_SERVER_PASSWORD" value="wavegis"/>
    <add key="SQL_SERVER_DATABASE" value="dtltms_data"/>
    <!--ActiveMonitorStateChangeLog-->
    <add key="AMSCL_pointer" value="1"/>
  </appSettings>
<system.data>
  <DbProviderFactories>
    <remove invariant="Devart.Data.PostgreSql" />
    <add name="dotConnect for PostgreSQL" invariant="Devart.Data.PostgreSql" description="Devart dotConnect for PostgreSQL" type="Devart.Data.PostgreSql.PgSqlProviderFactory, Devart.Data.PostgreSql, Version=6.0.6.0, Culture=neutral, PublicKeyToken=09af7300eec23701" />
  </DbProviderFactories>
</system.data>


</configuration>